<div class="ui pointing secondary boxoffice menu">
  <a class="red active item" data-tab="US">北美</a>
  <a class="orange item" data-tab="CN">内地</a>
  <a class="green item" data-tab="HK">香港</a>
  <a class="blue item" data-tab="TW">台湾</a>
  <a class="teal item" data-tab="JP">日本</a>
  <a class="purple item" data-tab="KR">韩国</a>
  <a class="red item" data-tab="FR">法国</a>
  
</div>
<div class="ui active tab segment" data-tab="US">
  <div class="ui animated list">
    <% @us.each do |us_item| %>
      <div class="item">
        <img alt="<%= us_item.name %>" src="<%= us_item.image_url %>", class = 'ui avatar image' />
      </div>
    <% end %>
  </div>
</div>
<div class="ui tab " data-tab="CN">
  <%= render_table(@cn,
          [
            { :name => 'rid', :display_name => '排名' },
            { :name => 'name', :display_name => '影片名称' },
            { :name => 'wk', :display_name => '榜单周数' },
            { :name => 'wboxoffice', :display_name => '周末票房' },
            { :name => 'tboxoffice', :display_name => '累计票房'}
          ]) %>
</div>
<div class="ui tab " data-tab="HK">
</div>
<div class="ui tab " data-tab="TW">
</div>
<div class="ui tab " data-tab="JP">
</div>
<div class="ui tab " data-tab="KR">
</div>
<div class="ui tab " data-tab="FR">
</div>
