<nav class="ui teal pointing menu">
  <%= link_to root_path, class:'header item' do %>
    <%= image_tag 'logo.gif', class: 'ui tiny floated image' %>
    &nbsp;牛牛票房榜
  <% end %>
  <a href='/' class="item <%= 'active' if params[:controller] == 'boxoffices' && params[:action] == 'index' %>">
    <i class='sort attributes descending icon'></i>票房榜
  </a>
  <a href='#' class="item <%= 'active' if params[:controller] == 'boxoffices' && params[:action] == 'other' %>">
    <i class='trophy icon'></i>殊荣榜
  </a>
</nav>